__pycache__
*.egg-info
build
.tox
.coverage*

.venv
.env.auth
.env-*
*/.env
*/.venv

.vscode
*/dist/*
sample_notebooks/coco/*
.DS_Store
sample_notebooks/*.pt
site/*
*.ipynb
!coco-panoptic.ipynb
!tabular.ipynb