__pycache__
*.egg-info
build
.tox
.coverage*

.env
.env.auth
.env-*
.venv

.vscode
*/dist/*
sample_notebooks/coco/*
.DS_Store
sample_notebooks/*.pt
site/*
*.ipynb
!coco-panoptic.ipynb
!tabular.ipynb

web/.env
web/.npmrc
node_modules
