__pycache__
*.egg-info
build
.tox
.coverage*

.venv
.env.auth
.env-*
*/.env
*/.venv

.vscode
.idea
*/dist/*
.DS_Store
site/*
*.ipynb

node_modules

.npmrc
runs

.ipynb_checkpoints
*.dat
*.env

*.jsonl
*.jpeg
*.pt
*.png
*.jpg