services:
  db:
    image: "postgis/postgis"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
  service:
    image: ghcr.io/striveworks/velour/velour-service
    build: ./api
    volumes:
      - ./api/velour_api:/src/velour_api
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USERNAME: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_AUDIENCE: ${AUTH0_AUDIENCE}
      AUTH0_ALGORITHMS: ${AUTH0_ALGORITHMS}
      SECRET_KEY: ${SECRET_KEY}
      VELOUR_USERNAME: ${VELOUR_USERNAME}
      VELOUR_PASSWORD: ${VELOUR_PASSWORD}
    command: "uvicorn velour_api.main:app --reload --host 0.0.0.0"
    depends_on:
      - 'db'
      - 'migrations'
  migrations:
    build:
      context: ./migrations
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USERNAME: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
    depends_on:
      - 'db'
