services:
  db:
    image: "docker.io/postgis/postgis"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
  service:
    image: ghcr.io/striveworks/velour/velour-service
    build: ./api
    volumes:
      - ./api/velour_api:/src/velour_api
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USERNAME: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
      VELOUR_SECRET_KEY: ${VELOUR_SECRET_KEY}
      VELOUR_USERNAME: ${VELOUR_USERNAME}
      VELOUR_PASSWORD: ${VELOUR_PASSWORD}
    command: "uvicorn velour_api.main:app --reload --host 0.0.0.0 --log-level warning"
    depends_on:
      - 'db'
      - 'migrations'
  migrations:
    image: ghcr.io/striveworks/velour/migrations
    build: ./migrations
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_USERNAME: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_PORT: ${POSTGRES_PORT}
    depends_on:
      - 'db'
