services:
  service:
    image: ghcr.io/striveworks/velour/velour-service
    build: ./api
    volumes:
      - ./api/velour_api:/src/velour_api
    ports:
      - "8000:8000"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_AUDIENCE: ${AUTH0_AUDIENCE}
      AUTH0_ALGORITHMS: ${AUTH0_ALGORITHMS}
    command: "uvicorn velour_api.main:app --reload --host 0.0.0.0"
    depends_on:
      - 'db'
      - 'migration'
  db:
    image: "postgis/postgis"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  migration:
    build:
      context: ./api
      dockerfile: Dockerfile.migrate
    environment:
      POSTGRES_HOST: ${POSTGRES_HOST}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    depends_on:
      - 'db'
