services:
  service:
    image: ghcr.io/striveworks/velour/velour-service
    build: ./api
    ports:
      - "8000:8000"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: ${POSTGRES_HOST}
      REDIS_HOST: redis
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_AUDIENCE: ${AUTH0_AUDIENCE}
      AUTH0_ALGORITHMS: ${AUTH0_ALGORITHMS}
    depends_on:
      - 'db'
      - 'redis'
  db:
    image: "postgis/postgis"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
  redis:
    image: "public.ecr.aws/bitnami/redis:7.0"
    ports:
      - "6379:6379"
    environment:
      ALLOW_EMPTY_PASSWORD: "yes"
  web:
    build: ./web
    ports:
      - "3000:3000"
    environment:
      VITE_BACKEND_URL: http://localhost:8000
    volumes:
      - ./web:/web
