site_name: velour
repo_url: https://github.com/striveworks/velour
theme:
  name: material
  features:
    - navigation.expand
  palette:
    scheme: slate
    primary: deep purple
nav:
  - Overview: "index.md"
  - Getting Started: "getting_started.md"
  - Technical Concepts: "technical_concepts.md"
  - Contributing & Development: "contributing.md"
  - Endpoints: "endpoints.md"
  - API & Python Client References: references
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
  - include_dir_to_nav:
      sort_file: true
      sort_directory: true
