site_name: Velour
repo_url: https://github.com/striveworks/velour
theme:
  name: material
  features:
    - navigation.expand
  palette:
    scheme: slate
    primary: deep purple
nav:
  - Overview: "index.md"
  - Sample Notebook: "https://github.com/Striveworks/velour/blob/main/examples/getting_started.ipynb"
  - Getting Started: "getting_started.md"
  - Metadata & Filtering: "metadata_and_filtering.md"
  - Metrics: "metrics.md"
  - Endpoints: "endpoints.md"
  - Technical Concepts: "technical_concepts.md"
  - Contributing & Development: "contributing.md"
  - Python Client API: "client_api"
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
  - include_dir_to_nav:
      sort_file: true
      sort_directory: true
  - swagger-ui-tag:
      syntaxHighlightTheme: monokai
      tryItOutEnabled: False
      supportedSubmitMethods: []
