name: Run benchmarks on pre-existing data.

on:
  push:
    branches: "**"

permissions:
  id-token: write
  contents: read

env:
  AWS_ROLE: arn:aws:iam::724664234782:role/Striveworks-Role-github_runner_npe
  AWS_REGION: us-east-1

jobs:
  classification-benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: build postgres
        run: |
          docker build ./database -t pgvalor
      - name: setup back end test env
        run: docker compose -p valor -f docker-compose.yml -f docker-compose.cicd-override.yml --env-file ./api/.env.testing up --build -d
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: install api
        run: pip install -e ".[test]"
        working-directory: ./api
      - name: install client
        run: pip install -e ".[test]"
        working-directory: ./client
      - name: run classification benchmarks
        run: python benchmark_script.py
        working-directory: ./integration_tests/benchmarks/classification
      - name: print results
        run: |
          echo "Classification Benchmark Results":
          export BENCHMARK_RESULTS=$(python -c "import os;import json;print(json.dumps(json.load(open("results.json", "r")), indent=4));")
          echo BENCHMARK_RESULTS
        working-directory: ./integration_tests/benchmarks/classification
      - run: make stop-env
