name: Build and publish python and typescript packages

on:
  push:
    tags:
      - "v*"

jobs:
  build-and-publish-py-package:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./client
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Build wheel
        run: pip install build && python -m build
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          packages-dir: ./client/dist
  build-and-publish-ts-package:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ts-client
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org"
      - name: Set version from the git tag
        run: npm version ${{ github.ref_name }}
      - run: npm ci
      - run: npm run build
      - name: Publish to npm
        run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_API_TOKEN }}
