name: Run benchmarks on pre-existing data

on:
  push:
    branches: "**"

permissions:
  id-token: write
  contents: read

jobs:
  run-benchmarks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: install core
        run: pip install -e .
        working-directory: ./core
      - name: run classification benchmarks
        run: python benchmark_script.py
        working-directory: ./core/benchmarks/classification
      - name: print classification results
        run: |
          export BENCHMARK_RESULTS=$(python -c "import os;import json;print(json.dumps(json.load(open('results.json', 'r')), indent=4));")
          echo "$BENCHMARK_RESULTS"
        working-directory: ./core/benchmarks/classification
      - name: run object detection benchmarks
        run: python benchmark_script.py
        working-directory: ./core/benchmarks/object-detection
      - name: print object detection results
        run: |
          export BENCHMARK_RESULTS=$(python -c "import os;import json;print(json.dumps(json.load(open('results.json', 'r')), indent=4));")
          echo "$BENCHMARK_RESULTS"
        working-directory: ./core/benchmarks/object-detection
      - run: make stop-env
