name: Functional tests

on:
  push:
    paths:
      - backend/velour_api/**
      - backend/tests/functional-tests/**

jobs:
  backend-functional-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./backend
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - run: pip install ".[test]"
      - run: make functional-tests
