name: Release Charts
on:
  push:
    paths:
      - charts/**
      - .github/workflows/helm.yml
    branches: [main]
jobs:
  release:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: latest
          token: ${{ secrets.GITHUB_TOKEN }} # only needed if version is 'latest'

      - name: Run chart-releaser
        uses: czaloom/chart-releaser-action@v1.6.0
        with:
          pages_branch: gh-charts
          packages_with_index: true
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
