name: Builds and publishes docs to GitHub pages

on:
  push:
    branches: [main]
    paths:
      - docs/**
      - .github/workflows/publish-docs.yml

jobs:
  build-and-publish-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - run: pip install "api/.[test]"
      - run: pip install mkdocs-material mkdocstrings mkdocs-include-dir-to-nav mkdocstrings-python
      - run: mkdocs gh-deploy
